{
  "root": true,
  "extends": "@react-native-community",
  "rules": {
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ],
    "semi": [2, "always"],
    "react/react-in-jsx-scope": "off",
    "react-native/no-inline-styles": "off"
  }
}
